/* GALERIA */
.freeGallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.wallpp {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgray;
    cursor: pointer;
    filter: grayscale(60%);
    &:hover {
        filter: grayscale(0%);
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.freeContainer {
    width: 100%;
    text-align: center;
}
.topContent {
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $color_4;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
    h3 {
        height: 100%;
        background-color: $color_1;
        line-height: 60px;
        padding: 0 50px;
        color: $color_2;
    }
    h4 {
        height: 100%;
        margin: 0 20px;
        line-height: 60px;
        font-size: 1rem;
        color: $color_3;
    }
}
