/* HEADER */
.logo {
	width: 200px;
	cursor: pointer;
	padding: 1%;
}
header {
	background-color: $background-color_1;
}
.enlacesNav {
	text-transform: uppercase;
	color: $color_3;
	font-size: 1rem;
}