/* MEDIAS QUERIES */
@media (max-width:1200px) {
	.contactForm {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
@media (max-width: 768px) {
	.iconosCirculo {
		flex-direction: column;
	}
	.contactForm {
		.info {
			height: 300px;
			padding: 20px;
		}
	}
	.imgBox {
		display: none;
	}
	.cardContainer {
		flex-direction: column;
		align-items: center;
		padding: 50px;
	}
	.aboutContent {
		grid-template-columns: repeat(1, 1fr);
	}
	.aboutText {
		text-align: center;
	}
	.freeGallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 600px) {
	.contactForm {
		.form {
			margin-left: 0px;
			width: 100%;
		}
		.info {
			margin-bottom: 30px;
		}
	}
	.freeGallery {
		grid-template-columns: repeat(1, 1fr);
	}
}
