
$color_1: #f08080;
$color_2: #692020;
$color_3: #b54040;
$color_4: #f8dddd;
$color_5: #fcfcfc;
$font-family_1: 'Rubik', sans-serif;
$background-color_1: #fefcfc;
$background-color_2: #f8dddd;
$background-color_3: pink;